/* ---------------------------------------APP--------------------------------------------------- */
* {
  font-family: "Lora", serif;
  color: #10181f;
}
body {
  font-size: 1rem;
  background-color: #dde7f0;
  font-family: "Lora", serif;
}
input {
  background-color: whitesmoke;
  border: 1px solid #1a4e6d;
  border-radius: 3px;
}
button {
  background-color: #76a1c5;
  font-size: 1rem;
  border: 1px solid #486883;
}

.App {
  height: 100vh;
  width: 100vw;
}
#page-title {
  height: 5%;
  text-align: center;
  width: 100%;
  font-size: 3vh;
  padding-top: 1vh;
  margin: 0;
}

.search-area {
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 9%;
}

#searchInput {
  width: 70%;
  margin: auto;
}

.counters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.labels-filter-bar {
  position: absolute;
  width: 100%;
  height: 5%;
  top: 15%;
  display: flex;
  line-height: 250%;
}

.filtered-labels {
  position: absolute;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  right: 50%;
}
.filtered-labels::-webkit-scrollbar {
  display: none;
}
.option-labels {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 35%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  right: 0;
}
.option-labels::-webkit-scrollbar {
  display: none;
}

#labels-title {
  position: absolute;
  width: 15%;
  left: 50%;
}

#show-only-title {
  position: absolute;
  width: 10%;
  left: 0%;
}
.ticket-list {
  position: absolute;
  padding: 0;
  top: 25%;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #334758;
}
.ticket-list::-webkit-scrollbar {
  display: none;
}

#nav-bar {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
}

#side-menu {
  position: absolute;
  padding: 0;
  top: 20%;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 30%;
}
#side-menu-title {
  text-align: center;
  margin: 0;
}
#hide-form-button {
  position: fixed;
  right: 5%;
  top: 80%;
  height: 10vh;
  width: 10vh;
  border-radius: 100%;
  background-color: #368bde;
}
#hide-form-img {
  height: 80%;
  width: 80%;
  display: block;
  margin: auto;
}

.menu-button {
  width: 20%;
  font-size: small;
  background-color: #4b6e86;

  border: none;
}
.picked-menu-button {
  filter: brightness(80%);
}

#footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  right: 0;
  background-color: #5b6f81;
}

#contact-title {
  position: absolute;
  left: 0;
  width: 50%;
  text-align: left;
  color: whitesmoke;
  line-height: 200%;
  margin-left: 1%;
}

#contact-links {
  width: 50%;
  height: 100%;
  right: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.contact-logo {
  height: 60%;
  width: 3vh;
  margin-top: 30%;
  background-color: #bbcfe2;
  border-radius: 3px;
}

#loader {
  position: fixed;
  left: 0;
  bottom: 0%;
  min-height: 5%;
  height: auto;
  font-size: large;
  width: 100%;
  text-align: center;
  z-index: 15;
  color: #dde7f0;
}
.success {
  background-color: #0e76a8;
}
.error {
  background-color: #7e6546;
}
.pending {
  background-color: #4a6881;
}

#new-ticket-form {
  position: fixed;
  padding-top: 5vh;
  width: 100%;
  height: 70%;
  top: 25%;
  flex-direction: column;
  background-color: #dde7f0;
  z-index: 10;
  text-align: center;
  align-items: center;
}
.newTicketInput {
  height: 5%;
  border-radius: 10px;
  width: 90%;
  padding: 1%;
  margin: 1%;
  text-align: center;
}
#submit {
  margin: auto;
  height: 10%;
  width: 30%;
  border-radius: 20px;
}
#hide-form-button {
  position: fixed;
  bottom: 0;
  z-index: 15;
}
/* ---------------------------------------TICKET--------------------------------------------------- */

.ticket {
  position: relative;
  border: 1px solid #5b5b5b;
  border-radius: 10px;
  margin: 1%;
  padding: 1%;
  min-height: 30%;
  background-color: #dde7f0;
  transition: 300ms;
}
.new {
  background-color: yellowgreen;
}

.expanded {
  z-index: 20;
  min-height: 90%;
}

.ticket-title {
  position: absolute;
  height: 40%;
  max-height: 20%;
  z-index: 4;
  width: 80%;
  text-align: center;
  top: 0;
  left: 10%;
  margin: 0;
}
.expanded .ticket-title {
  height: 10%;
  transition: 300ms;
}

.ticket-content {
  position: absolute;
  height: 35%;
  width: 98%;
  border-radius: 5px;
  text-align: left;
  top: 40%;
  overflow-y: hidden;
  border: 1px solid #5b5b5b;
  background-color: #bbcfe2;
  margin: 0;
  transition: 300ms;
}

.expanded .ticket-content {
  overflow-y: scroll;
  height: 55%;
  top: 15%;
}
.ticket-content::-webkit-scrollbar {
  display: none;
}

.hideTicketButton {
  position: absolute;
  width: 2vh;
  top: 1vw;
  left: 1%;
  border-radius: 12.5%;
  border: none;
  text-align: center;
  z-index: 5;
  cursor: pointer;
}
.star-button {
  position: absolute;
  width: 2vh;
  top: 1vw;
  right: 6%;
  border-radius: 12.5%;
  border: none;
  text-align: center;
  z-index: 5;
  cursor: pointer;
}
.expand-button {
  position: absolute;
  bottom: -0.5rem;
  right: 48%;
  font-size: 0.7rem;
  border-radius: 100%;
  border: none;
  text-align: center;
  z-index: 5;
  cursor: pointer;
  background-color: #193b51;
  color: #bbcfe2;
}

.markAsDone {
  position: absolute;
  width: 2vh;
  top: 1vw;
  right: 1%;
  border-radius: 12.5%;
  border: none;
  text-align: center;
  z-index: 5;
  cursor: pointer;
}
.done {
  background-color: #368bbe;
  color: #dde7f0;
}

.ticket-metadata {
  position: absolute;
  height: 20%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.expanded .ticket-metadata {
  height: 6%;
}

.creation-date {
  display: inline;
  margin: 0;
  height: 10%;
  width: 25%;
  font-size: 75%;
}
.user-Email {
  display: inline;
  margin: 0;
  height: 10%;
  width: 25%;
  font-size: 75%;
}
.labels {
  height: 100%;
  display: inline;
  margin: 0;
  width: 40%;
  display: flex;
  overflow-y: scroll;
  overflow-x: scroll;
}
.labels::-webkit-scrollbar {
  display: none;
}
.label {
  height: 90%;
  margin-right: 3%;
  border-radius: 15px;
  min-width: fit-content;
  word-wrap: none;
  cursor: pointer;
}

.comment-bar {
  position: absolute;
  width: 100%;
  bottom: 6%;
  height: 24%;
}

.new-comment-form {
  position: absolute;
  width: 100%;
  height: 22%;
  bottom: 0;
}
.comments-counter {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
}
.comments {
  position: absolute;
  list-style: none;
  padding: 0;
  width: 100%;
  height: 60%;
  bottom: 5%;
  overflow-y: scroll;
}
.comments::-webkit-scrollbar {
  display: none;
}

.comment {
  width: 85%;
  margin-left: 5%;
  border: 1px solid #0e76a8;
  border-radius: 5px;
  padding: 0.5%;
  margin-bottom: 2px;
  overflow-wrap: break-word;
  background-color: #c6d4e0;
}

.new-comment-text {
  width: 75%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  margin-bottom: 5%;
}

.new-comment-button {
  width: 20%;
}
