/* ---------------------------------------APP--------------------------------------------------- */
* {
  font-size: 2vh;
}
.App {
  height: 100vh;
  width: 100vw;
}
#page-title {
  height: 5%;
  text-align: center;
  width: 100%;
  font-size: 3vh;
  padding-top: 1vh;
  margin: 0;
}

.search-area {
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
}

#searchInput {
  width: 50%;
  margin: auto;
}

.counters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.labels-filter-bar {
  position: absolute;
  width: 100%;
  height: 5%;
  top: 15%;
  display: flex;
}

.filtered-labels {
  position: absolute;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  right: 50%;
}

.option-labels {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 35%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  right: 0;
}

#labels-title {
  position: absolute;
  width: 15%;
  left: 50%;
}

#show-only-title {
  position: absolute;
  width: 10%;
  left: 0%;
}
.ticket-list {
  position: absolute;
  padding: 0;
  top: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 7%;
  width: 30%;
  right: 0;
}

#contact-title {
  height: 2%;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

#contact-links {
  width: 100%;
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: space-around;
}

.contact-logo {
  height: 3vh;
  width: 3vh;
}

/* ---------------------------------------TICKET--------------------------------------------------- */

.ticket {
  position: relative;
  border: 1px solid grey;
  border-radius: 1.25%;
  margin: 1%;
  min-height: 30%;
  max-height: 30%;
  /* display: flex;
  flex-direction: column; */
}

.ticket-title {
  position: absolute;
  height: 40%;
  max-height: 20%;
  z-index: 4;
  width: 90%;
  text-align: center;
  top: 0;
  left: 5%;
  margin: 0;
}

.ticket-content {
  position: absolute;
  height: 40%;
  width: 100%;
  text-align: left;
  top: 40%;
  overflow-y: scroll;
}

.hideTicketButton {
  display: absolute;
  width: 2.5%;
  height: 2.5%;
  top: 1%;
  left: 1%;
  height: 20%;
  border-radius: 12.5%;
  border: none;
  text-align: center;
  z-index: 5;
  cursor: pointer;
}

.ticket-metadata {
  position: absolute;
  height: 10%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1vh;
  width: 100%;
}

.creation-date {
  display: inline;
  margin: 0;
  height: 10%;
  width: 30%;
  font-size: 1vh;
}
.user-Email {
  display: inline;
  margin: 0;
  height: 10%;
  width: 30%;
  font-size: 1vh;
}
.labels {
  display: inline;
  margin: 0;
  width: 40%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}
.label {
  margin-right: 1%;
  font-size: 1vh;
}
